.DS_Store
/.build
/.vscode
/Package.resolved
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# My super secret settings file store
/aoc.env

# I don't want to include the template nor any inputs
/Inputs
*.template
